/*Общие настройки*/
*{
	margin:0;
	padding:0;
	outline: none;
	font-family: 'Patua One'
}
header{
	width:100%;
	height:93px;
	background-color: #20b6;
	border-radius: 5px;	
}
h1{
	margin-left: 10px;
	font-size: 70px;
	color: white;
}
body{
	background-color: #20b6b6;
}

#connect_bar{
	background-color: orange;
	height: 50px;
	border-radius: 5px;
	display: flex;
}

#main{
	margin-top: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.back{
	background-color: white;
	height: 500px;
	width: 100px;
	margin:5px;
	border-radius: 10px;
}
#scripts{
	order: 1;
	flex-grow: 1;
}
#free_space{
	order: 2;
	flex-grow: 1.5;
}
#ctrl_panel{
	order: 3;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.connect_items{
	margin: 10px;
}

#visual{
	height: 30px;
	width: 150px;
	margin: 10px;
	font-size: 15px;
}

#connect{
	margin-left: -5px;
	height: 29px;
	width: 90px;
	font-size: 20px;
}

#scripts{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#custom_command_text{
	font-size: 15px;
	width: 180px;
	margin: 2%;
	order: 1;
}
#custom_command{
	order: 1;
	flex-grow: 1;
}
#recognition{
	order: 1;
	flex-grow: 1;
}
#log{
	order: 2;
	margin: 2%;
	height: 100%;
	padding: 7px;
	margin-top: 0%;
}
.custom_button{
	font-size: 14px;
	width: 50px;
}


#stop_button{
	height: 90%;
	width: 90%;
	margin-left: 3%;
	background-color: red;
	border-radius: 50%;
	margin-top: 3%;
	border: 10px solid #c91e00;
	transition: 0.4s;
}
#stop_button:hover{
	background-color: #c91e00;
}
#stop_button:active{
	background-color: red;	
}
#stop{
	text-align: center;
	font-size: 130px;
	font-family: 'Patua One'; 
	position: relative;;
	top: 30%;
	color: white;
}

#first{
	margin-top: 70px;
}
.send_bg{
	margin: 5px;
	border-radius: 15px;
	background-color: orange;
	height: 10%;
	display: flex;
	justify-content: center;
	padding: 2%;
}
.coord_name{
	background-color: white;
	border-radius: 10px;
	text-align: center;
	margin-left: 4%;
	margin-right: 2%;
	flex-grow: 1;
	font-size: 40px;
}
.step{
	flex-grow: 1;
	font-size: 40px;
	padding-left: 10px;
}
.minus{
	flex-grow: 10;
	font-size: 50px;
	font-family: 'Patua One'; 
	text-align: center;
	border-radius: 50px;
	background-color: #f07d14;
	color:white;
	border: 0px solid;
	outline: none;
}
.plus{
	flex-grow: 10;
	flex-grow: 10;
	font-size: 50px;
	font-family: 'Patua One'; 
	text-align: center;
	border-radius: 50px;
	background-color: #f07d14;
	color:white;
	border: 0px solid;
	outline: none;
}
.plus:hover{
	background-color: grey;
}
.plus:active{
	background-color: black;
}

.minus:hover{
	background-color: grey;
}
.minus:active{
	background-color: black;
}

#button_default{
	margin-top: 2%;
	margin-left: 22%;
	height: 70px;
	width: 250px;
	background-color: #f07d14;
	border: 0px;
	font-family: 'Patua One';
	font-size: 45px;
	color: white;
}
#send{
	margin-top: 2%;
	margin-left: 22%;
	height: 70px;
	width: 250px;
	background-color: #f07d14;
	border: 0px;
	font-family: 'Patua One';
	font-size: 45px;
	color: white;
}
#send:hover{
	background-color: grey;
}
#send:active{
	background-color: black;
}
#button_default:hover{
	background-color: grey;
}
#button_default:active{
	background-color: black;
}